.menu {
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  justify-content: space-between;

  display: flex;
}

.menu > div {
  display: flex;
  align-items: end;
  gap: 1.5rem;
}

.menu > div > a {
  color: inherit !important;
}

.menu > svg {
  cursor: pointer;
}

.menu > hr {
  width: 100%;
}

.menu .user {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
}

.menu .user span:nth-child(2) {
  color: rgb(95, 95, 95);
  font-size: 10px;
}