.menu {
    position: fixed;
    left: .5rem;
    top: calc(50% - 119px);
    background: #e3e3e3;
    padding: 2rem 1rem;
    border-radius: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
  }
  
  .menu > a {
    color: inherit !important;
  }
  
  .menu > svg {
    cursor: pointer;
  }
  
  .menu > hr {
    width: 100%;
  }